.mr-auto{
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    margin:auto;
}
.siteName{
    margin:auto;
    display: inline-block;
    font-size: 1.6rem;
    line-height: inherit;
    white-space: nowrap;
}
 h1{
     display: flex;
     justify-content: center;
     align-items: center;
 }

 form{
     display: flex;
     justify-content: center;
     align-items: center;
     width:50vw;
     margin:auto;
 }